* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* css of the navigation bar */

nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    background-color: black;

}

nav .logo p {
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;

}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style : none; 
}

nav li a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 30px;
    color: white;

}

nav li a:hover{
    color: aliceblue;
    transition: all 0.4s ease 0%;
}


section {
    padding: 50px 50px ;
}


/* css of the first main section */
.position{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   background: url(car.jpg);
   background-size: cover;
   background-position: center;
}

.position h1 {
    color: white;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 1px;
    
}

/* css for the service section  */

.services {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.services h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    border: 6px;

}

.image {
    margin-top: 20px;
    position: relative;
    width: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.image-sell {
    display: block;
    width: 100%;
    height: 300px;
}

.image-sell-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.image-sell-overlay:hover {
    opacity: 1;
}

.image-desc {
    font-size: 50px;
    font-weight: bold;
}

/* css for footer */